@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: flex;
}
span {
  color: hsl(243, 100%, 62%);
}
.container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.form-button {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  align-content: flex-end;
  background-color: rgba(213, 238, 238, 0.499);
}

.sidebar {
  width: 200%;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/media/images/bg-sidebar-mobile.svg");
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.sidebar-btn {
  margin-top: 2rem;
}
.sidebar-btn button {
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.1rem solid white;
  background-color: transparent;
  margin: 0rem 0.4rem;
  color: white;
  margin-top: 3rem;
}

.sidebar-btn button.active-btn {
  background-color: hsl(206, 94%, 87%);
  color: black;
}
.contents input {
  padding: 1rem 0.3rem !important;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: rgb(44, 50, 127);
}

.sidebar-btn {
  display: flex;
  justify-content: space-between;
}
.sidebar-btn-desktop {
  display: flex;
  width: 100%;
}
.sidebar-btn-desktop-info {
  display: none;
}

.form-card {
  width: 80%;
  height: 625px;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.form-card h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(44, 50, 127);
}

.form-card p {
  color: gray;
  margin: 2rem 0;
  font-size: 1.35rem;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.next-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  background-color: white;
  padding: 1rem 0;
}

.next-btn button {
  background-color: rgb(44, 50, 127);
  color: white;
  font-size: 1.1rem;
  border-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 1.5rem;
}

.form-input input {
  width: 100%;
  padding: 0.3rem;
}
.error-message {
  font-size: 1rem;
  color: red;
}

.select-plan {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  border: 1px solid black;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
}
.select-plan input {
  width: 0%;
}
.select-plan label {
  height: 100%;
  width: 100%;
}

.select-plan-fee-type {
  width: 80%;
}

.select-plan-img {
  width: 20%;
  margin-bottom: 0;
}

.select-plan h2 {
  font-size: 1.25rem;
  margin: 0.1rem;
}

.select-plan p {
  margin: 0;
}

/* Hide the default checkbox */
#toggle {
  display: none;
}

/* Style the toggle switch */
.toggle-label {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: gray;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

/* Style the toggle switch when checked */
#toggle:checked + .toggle-label {
  background-color: rgb(44, 50, 127);
}

/* Style the inner circle of the toggle switch */
.toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2.5px;
  left: 2.5px;
  transition: transform 0.2s;
}

/* Style the inner circle of the toggle switch when checked */
#toggle:checked + .toggle-label::before {
  transform: translateX(25px);
}

.month-year-toggle {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: center;
}

.month-year-toggle h2 {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.none {
  display: none;
}

.addon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 1rem 0.3rem;
  border-radius: 0.8rem;
}

.addon-checkbox {
  align-self: center;
  width: 10%;
}

.addon-label {
  width: 100%;
}

.addon-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
}

.addon-content h1 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.addon-description {
  font-size: 1rem;
  color: #888;
  margin-bottom: 5px;
}
.back-btn {
  background-color: gray;
  color: white;
}

.back-btn:first-child {
  display: none;
}
/* Add space between Go Back buttons */
.back-btn {
  margin-right: 1rem;
}

/* Hide the Go Back button on the first content */
#one .back-btn {
  display: none;
}

.active {
  border: 2px solid rgb(44, 50, 127);
  background-color: rgba(213, 238, 238, 0.499);
}
.main-plan,
.total {
  display: flex;
  justify-content: space-between;
}
.final {
  margin-top: 2rem;
  height: 40vh;
  background-color: rgba(213, 238, 238, 0.188);
  border-radius: 0.8rem;
  padding: 0.8rem;
}
.add-on-single {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main-plan div {
  font-size: 1.3rem;
}
.main-plan span {
  font-size: 1.3rem;
}
.total span {
  font-size: 2rem;
}
hr {
  color: black;
  size: 0.1rem;
  width: 100%;
}

.thankyou-page {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.thankyou-page h2 {
  font-size: 2rem;
  justify-self: center;
  margin: 1rem 0;
}

.thankyou-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 875px) {
  * {
    box-sizing: border-box;
    font-size: 14px;
  }
  body {
    justify-content: center;
    background-color: rgba(213, 238, 238, 0.499);
    padding: 0rem 10rem;
  }
  .container {
    margin: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    align-items: center;
  }
  .sidebar {
    width: 290px;
    height: 92%;
    background-image: url("/public/media/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 10px;
    margin-left: 30px;
  }
  .form-button p {
    font-size: 1.2rem;
    margin: 0px;
  }
  .sidebar-btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar-btn-desktop {
    width: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sidebar-btn-desktop button {
    width: 40%;
  }
  .sidebar-btn-desktop-info {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .sidebar-btn-desktop-info h3 {
    margin-top: 0;
    color: white;
    font-size: 1rem;
  }
  .sidebar-btn-desktop-info p {
    margin-bottom: 0.2rem;
    color: lightgrey;
    font-size: 0.9rem;
  }
  .form-button {
    width: 80%;
    background-color: white;
  }
  .form-card {
    padding-left: 3rem;
    width: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
  }
  .sidebar-btn {
    display: flex;
    flex-direction: column;
  }
  .form-input {
    width: 80%;
    padding-top: 2rem;
    margin-bottom: 1.2rem;
  }
  .next-btn {
    margin-right: 10vh;
    width: 80%;
    /* margin-right: 20vh; */
  }
  .contents input {
    padding: 1rem 0.3rem;
    border-radius: 0.4rem;
  }
  .single-plan-parent {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .select-plan {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    overflow: hidden;
  }
  .select-plan h2 {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .select-plan p {
    font-size: 0.8rem;
  }
  .addon-container {
    margin-bottom: 3rem;
  }
  .thankyou-page {
    margin-top: 6rem;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  * {
    font-size: 16px;
  }
}
